/* Sets the grid layout for the app */

 .App {
  width: 100vw;
  height: calc(100vh - 8rem);
  background: #BEBEBE;

  display: grid;
  grid-template-rows: 1fr 340px 1fr 1fr;
  grid-template-areas:
    "length-controls"
     "timer"
     "timer-controls"
          ".";
}

/* Header styles */

.header-wrapper {
  grid-area: header-wrapper;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background: lightgrey;
  border-radius: 4px;
  box-shadow: 0 -2px -2px rgba(0, 0, 0, 0.05);
}

.header {

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 3rem;
  letter-spacing: 0.01em;

  color: #737373;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

/* Length control buttons styles */

.length-controls {
  grid-area: length-controls;
  min-width: 340px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
}

.work-time {

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  margin-bottom: 1rem;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.chill-time {

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  margin-bottom: 1rem;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.length-control-buttons {
  display: flex;
  justify-content: center;
}

.work-minus {
  fill: white;
  transform: scale(1.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  margin-right: 1rem;
}

.work-plus {
  fill: white;
  transform: scale(1.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  margin-left: 1rem;
}

.chill-minus {
  fill: white;
  transform: scale(1.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  margin-right: 1rem;
}

.chill-plus {
  fill: white;
  transform: scale(1.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  margin-left: 1rem;

}

.length-button-clicked {
  animation: scale-out 300ms infinite ease-in-out;
}

@keyframes scale-out {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

/* Timer styles */

.indicator {
  margin-bottom: 7rem;

  grid-area: timer;
  justify-self: center;
  align-self: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1.5rem;
  letter-spacing: 0.01em;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.timer {
  width: 163px;
  height: 58px;

  grid-area: timer;
  justify-self: center;
  align-self: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 4rem;
  letter-spacing: 0.01em;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

/* Timer spinning circle styles */

.circle {
  width: 340px;
  height: 340px;
  stroke: white;
  stroke-width: 8;
  grid-area: timer;
  justify-self: center;
  align-self: center;
}

.spinner {
  width: 340px;
  height: 340px;
  grid-area: timer;
  justify-self: center;
  align-self: center;
}

.animated-circle {
  stroke: white;
  stroke-width: 8;
  stroke-dasharray: 1068;
  stroke-linecap: round;
  transform-origin: 170px 170px 0;
  animation: spinner 9s linear infinite;
  animation-direction: normal;
  grid-area: timer;
  justify-self: center;
  align-self: center;
}

@keyframes spinner {
  0% {
    stroke-dashoffset: 34;
    transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: 1068;
    transform: rotate(720deg);
  }
  100% {
    stroke-dashoffset: 34;
    transform: rotate(1080deg)
  }
}

/* Timer control buttons styles */

.timer-controls {
  grid-area: timer-controls;
  min-width: 375px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "play-pause reset"
}

.play-pause {
  grid-area: play-pause;
  width: 92px;
  height: 92px;
  fill: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  justify-self: center;
  align-self: center;
}

.play-pause-enter {
  transform: scale(0);
}

.play-pause-enter-active {
  transform: scale(1);
  transition: all 200ms;
}

.play-pause-exit {
  transform: scale(1);
}

.play-pause-exit-active {
  transform: scale(0);
  transition: all 200ms;
}

.reset {
  grid-area: reset;
  width: 92px;
  height: 92px;
  fill: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  justify-self: center;
  align-self: center;
}

.reset-clicked {
  animation: reset-rotate 1s
}

@keyframes reset-rotate {
  from {
    transform: rotate(360deg)
  }
  to {
    transform: rotate(0deg)
  }
}
